.f1{
    width: 70%;
    font-family: 'Noto Sans TC', sans-serif;
    padding: 15px;
    font-size: 20px;
color:black;

}

input[type="text"],input[type="tel"],input[type="date"],input[type="email"],input[type="password"]{
  display:block;
}
.b1{
    width: 300px;
}
.d1{
    position: absolute;
    left: 780px;
    top: 300px;
}
.d3{
    position: absolute;
    left: 780px;
    top: 500px;
}
.BU{
    width: 75px;
    height: 50px;
}
.d2
{
    width: 70%;
    background-color: slategrey;
}